.header-container {
	position: relative;
	
	@include card;
}

.user-display {
	display: inline-block;
	float: right;
	color: $font-color;

	a {
		margin-left: 10px;
		text-decoration: underline;
		cursor: pointer;
	}

	a:hover {
		color: darken($font-color, 20%);
	}
}