.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #555555;

  .login {
    .register {
      display: inline-block;
      color: #A1A1A1;
      text-decoration: none;

      &:hover {
        color: #000000;
      }

      transition: color 0.3s ease;
    }
  }
}