// Susy globals
$susy: (
  columns: 12,
  gutters: 1/4,
  container: 800px,
  global-box-sizing: border-box
);

// Site-wide serif/sans-serif font stacks
$sans-fonts: 'Raleway', sans-serif;
$serif-fonts: 'Lora', serif;