@import 'normalize';
@import 'variables';
@import 'bower_components/susy/sass/susy';
@import 'nav';

body {
	background-color: $bg-color;
	font-family: $font-stack;
	color: $font-color;
}

a {
	text-decoration: none;
}

.header-container {
	position: relative;
	height: 100px;
	box-shadow: $box-shadow;
	margin-bottom: 20px;
}

.body-container {
	padding-left: 20px;
	padding-right: 20px;
}
	
.content {
	max-width: 800px;
	margin: auto;
	color: $content-font-color;
}

.post {
	background-color: #FFFFFF;
	box-shadow: $box-shadow;	
	margin-bottom: 20px;
}
