@import 'normalize';

$font-stack: Raleway, sans-serif;
$font-color: #FFFFFF;
$bg-color: #EFEFEF;
$container-bg-color: #FFFFFF;
$nav-color: #990020;
$nav-hover-color: lighten($nav-color, 10%); 

body {
	background-color: $bg-color;
	font-family: $font-stack;
	color: $font-color;
}

a {
	text-decoration: none;
	color: $font-color;
}

.nav {
	background-color: $nav-color;
	min-height: 40px;
}

.navbar {
	width: 800px;
	margin: auto;

	ul.nav-links {
		list-style: none;
		margin: 0px;
		padding: 0px;
		display: block;

		li {
			float: left;

			a {
				position: relative;
				display: block;
				padding: 10px 15px;

				transition: background-color 0.3s ease;
			}

			a:hover {
				background-color: $nav-hover-color;
			}
		}
	}
}
