.header-container {
	position: relative;
	margin-bottom: 20px;
	
	@include card;
}

.title-container {
	text-align: center;
	font-family: $serif-fonts; 
}

.bard {
	font-size: 48px;
	color: $primary-color;
	margin-right: 8px;
}

.science-journal {
	font-size: 30px;
	color: #000000;
}