$active: #000000;
$inactive: #A3A3A3;
$font-size: 24px; 
$letter-spacing: 0.1em;

.nav-container {
	text-align: center;
	margin-bottom: 40px;
}

.navbar {
	font-size: $font-size;

	input, button {
		border: none;
		outline: none;
		background-color: transparent;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			letter-spacing: $letter-spacing;
			margin-left: 0.6em;
			margin-right: 0.6em;
		}
	}

	a {
		text-decoration: none;
	}

	span {
		cursor: pointer;
	}

	a, span {
		color: $inactive;	

		&.active {
			color: $active;
		}

		&:hover {
			color: $active;
		}

		transition: color 0.3s ease;
	}

	.dropdown {
		text-transform: capitalize;
	}

	.dropdown-menu {
		position: absolute;
		background-color: #FFFFFF;
		z-index: 10;
		text-align: left;
		padding-left: 4px;
		padding-right: 4px;
		overflow: hidden;
		max-height: 0;
		text-transform: capitalize;

		&.active {
			max-height: 400px;
		}

		transition: max-height 0.3s ease;

		.dropdown-item {
			display: block;
			padding-top: 7px;
			padding-bottom: 7px;
			margin: 0;
			color: $inactive;
			cursor: pointer;

			&.active {
				color: $active;
			}

			&:hover {
				color: $active;
			}

			transition: color 0.3s ease;

			&:not(:last-child) {
				border-bottom: solid $inactive 1px;
			}
		}

		@extend .card;
	}

	.datepicker-menu {
		position: absolute;
		background-color: #FFFFFF;
		z-index: 10;
		max-height: 0;
		width: 200px;
		overflow: hidden;
		color: $inactive;
		padding-left: 4px;
		padding-right: 4px;

		&.active {
			max-height: 150px;
		}

		transition: max-height 0.3s ease;

		.year-line {
			text-align: center;
			line-height: 30px;
			border-bottom: solid $inactive 1px;

			.year {
				width: 70%;
				float: left;
			}

			button {
				width: 15%;
				color: $inactive;
				padding: 0;
				float: left;

				&:hover {
					color: $active;
				}

				transition: color 0.3s ease;
			}
			@extend .clearfix;
		}

		.months-container {
			.month {
				@include span(3 of 12);

				padding-top: 8px;
				padding-bottom: 8px;
				cursor: pointer;

				&.active {
					color: $active;
				}

				&:hover {
					color: $active;
				}

				&:nth-child(4n) {
					@include last;
				}
			}
		}

		@extend .card;
	}
}

.search {
	input {
		width: 3.8em;
		padding: 0;
		border-bottom: solid transparent 2px; 
		color: $inactive;

		&:focus, &:hover {
			border-bottom-color: $active;
			width: 6.5em;
			color: $active;
		}

		&::placeholder {
			color: $inactive;
			letter-spacing: $letter-spacing;
			font-size: $font-size;
		}

		transition: all 0.3s ease;
	}

	button {
		color: $inactive;	
		padding: 0;

		&:hover {
			color: $active;
		}

		transition: color 0.3s ease;
	}
}
