.view {
	opacity: 1;
	width: 100%;
}

.view.ng-enter,
.view.ng-leave {
	transition: opacity 0.3s ease;
}

.view.ng-enter {
	height: 100vh;
	opacity: 0;
}

.view.ng-enter-active {
	opacity: 1;
}

.view.ng-leave {
	position: absolute;
	opacity: 1;
}

.view.ng-leave-active {
	opacity: 0;
}