@import 'bower_components/normalize-scss/_normalize';
@import 'bower_components/susy/sass/susy';
@import 'variables';
@import 'ng-animate';
@import 'header';
@import 'nav';

@import url(https://fonts.googleapis.com/css?family=Droid+Serif|Raleway);

$susy: (
	columns: 12,
	gutters: 1/4,
	container: 960px,
	global-box-sizing: border-box
	);

@include border-box-sizing;

body {
	font-family: $sans-fonts;
}
