@import 'bower_components/normalize-scss/_normalize';
@import 'bower_components/susy/sass/susy';
@import 'variables';
@import 'nav';

$susy: (
	columns: 12,
	gutters: 1/4,
	container: 800px,
	global-box-sizing: border-box
	);

@include border-box-sizing;

body {
	background-color: $bg-color;
	font-family: $font-stack;
	color: $font-color;
}

a {
	text-decoration: none;
}

.header-container {
	position: relative;
	box-shadow: $box-shadow;
	margin-bottom: 20px;
}

.body-container {
	padding-left: 20px;
	padding-right: 20px;
}
	
.content {
	@include container;
	color: $content-font-color;
	position: relative;
}

.img-container {
	background-size: cover;
	background-position: center;
}

.post {
	background-color: #FFFFFF;
	box-shadow: $box-shadow;	
	margin-bottom: 20px;
	color: $content-font-color;

	text-align: center;

	.title-line {
		margin-top: 10px;
		margin-bottom: 5px;
		font-size: 32px;

		a {
			color: $content-font-color;
		}
	}

	.author-line {
		margin-top: 0px;
		margin-bottom: 15px;
		font-size: 12px;
		color: $font-color-secondary;

		span {
			display: inline;
		}

		ul {
			list-style: none;
			padding-left: 0px;
			display: inline;

			li {
				display: inline;
				font-style: normal;
			}

			a {
				color: $font-color-secondary;
			}

			a:hover {
				color: darken($font-color-secondary, 15%);
			}
		}
	}
}

.bigpost {
	@include span(12);

	.img-container {
		height: 400px;
	}
}

.smallpost {
	@include span(6);

	&:not(:nth-child(2n)) {
		@include last;
	}

	.img-container {
		height: 200px;
	}
}


.archive-nav {
	@include span(12);
	height: 40px;
	background-color: #FFFFFF;
	box-shadow: $box-shadow;
	margin-bottom: 20px;
}

.archive-post {
	@include span(12);
	position: relative;
	background-color: #FFFFFF;
	box-shadow: $box-shadow;
	margin-bottom: 20px;
	min-height: 200px;

	text-align: center;

	.title-line {
		margin-top: 10px;
		margin-bottom: 5px;
		font-size: 24px;

		a {
			color: $content-font-color;
		}
	}

	.author-line {
		margin-top: 0px;
		margin-bottom: 15px;
		font-size: 12px;
		color: $font-color-secondary;

		span {
			display: inline;
		}

		ul {
			list-style: none;
			padding-left: 0px;
			display: inline;

			li {
				display: inline;
				font-style: normal;
			}

			a {
				color: $font-color-secondary;
			}

			a:hover {
				color: darken($font-color-secondary, 15%);
			}
		}
	}

	.description {
		margin-bottom: 20px;
	}

	.img-container {
		position: absolute;
		width: 200px;
		height: 100%;
	}

	.archive-content {
		padding-left: 215px;
		display: inline-block;
		width: 100%;
	}
}

.post-content {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
	text-align: left;
}

.about {
	@include span(12);
	height: 400px;
	background-color: #FFFFFF;
	box-shadow: $box-shadow;
	margin-bottom: 20px;
}

.view {
	opacity: 1;
	position: absolute;
	width: 100%;
}

.view.ng-enter,
.view.ng-leave {
	transition: opacity 0.3s ease;
}

.view.ng-enter {
	opacity: 0;
}

.view.ng-enter-active {
	opacity: 1;
}

.view.ng-leave {
	opacity: 1;
}

.view.ng-leave-active {
	opacity: 0;
}


