doctype html
html(lang='en' ng-app='bsj.admin')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bard Science Journal
    base(href='/admin')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='admin/css/styles.min.css', rel='stylesheet') 
  body
    .main-container
      .header-container
        .nav(ng-controller='navController as vm', ng-show='vm.showNav')
          .navbar
            ul.nav-links
              li(ng-class='{active: vm.isActive(\'/admin/posts\')}')
                a(href='/admin/posts') Posts
              li(ng-class='{active: vm.isActive(\'/admin/descriptors\')}')
                a(href='/admin/descriptors') Subjects/Types
              li(ng-class='{active: vm.isActive(\'/admin/users\')}')
                a(href='/admin/users') Users
            .user-display
              span {{ vm.user.username }}
              a(ng-click='vm.logout()') logout
      .body-container
        .content
          .view(ng-view)

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js')
    script(src='bower_components/angular-local-storage/dist/angular-local-storage.js')
    script(src='admin/js/app.js')