.archive-nav
.archive-post(ng-repeat='post in vm.posts')
  .img-container(ng-style='{\'background-image\': \'url(\'+post.photo+\')\'}')
  .archive-content
    .title-line
      a(ng-href='/post/{{post.slug}}') {{ post.title }}
    .author-line
      span by
      ul
        li(ng-repeat='author in post.authors') 
          a(href='/') {{ author }}
          span(ng-if='post.authors.length > 1 && !$last') {{ $index == post.authors.length-2 ? ' and' : ',' }}
    .description {{ post.description }}