.archive-nav
.archive-post(ng-repeat='post in vm.posts')
  .img-container(ng-style='{\'background-image\': \'url(\'+post.photo+\')\'}')
  .archive-content
    p {{ post.title }}
    p {{ post.description }}
    p {{ post.subject }}
    p {{ post.type }}
    span(ng-repeat='author in post.authors') {{ author }},&nbsp; 
    br
    span(ng-repeat='tag in post.tags') {{ tag }},&nbsp; 