.post(ng-repeat='post in vm.posts', ng-class='{bigpost: $first, smallpost: !$first}')
  .img-container(ng-style='{\'background-image\': \'url(\'+post.photo+\')\'}')
  p.title-line {{ post.title }}
  .author-line
    span by
    ul
      li 
        a(href='/') Theo Black,
      li 
        a(href='/') Ian Tripp