doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bard Science Journal
    link(href='css/styles.min.css', rel='stylesheet')
  body
    .container
      nav.navbar.navbar-default
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') BSJ
          #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') Home
              li
                a(href='#archive') Archive
              li
                a(href='#contact') About
            ul.nav.navbar-nav.navbar-right
                form.navbar-form(role='search')
                  .input-group
                    input.form-control(type='text', placeholder='Search')
                    .input-group-btn
                      button.btn.btn-default(type='submit')
                        i.glyphicon.glyphicon-search

      .starter-template
        #mainCarousel.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
            li(data-target='#myCarousel', data-slide-to='1')
            li(data-target='#myCarousel', data-slide-to='2')
          .carousel-inner(role='listbox')
            // Repeat start
            .item.active
              img(src='https://upload.wikimedia.org/wikipedia/commons/9/94/Bard_College_-_IMG_7987.JPG')
              .container
                .carousel-caption
                  h1 Title 1
                  p
                    | Note: If you're viewing this page via a 
                    code file://
                    |  URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
            // Repeat end
            .item
              img(src='http://www.bard.edu/pics-backgrounds/back_river_students.jpg')
              .container
                .carousel-caption
                  h1 Title 2
                  p
                    | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            .item
              img(src='http://www.bard.edu/pics-backgrounds/back_main-sidewalk.jpg')
              .container
                .carousel-caption
                  h1 Title 3
                  p
                    | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          a.left.carousel-control(href='#mainCarousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control(href='#mainCarousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='js/app.min.js')
