doctype html
html(lang='en')
  head
    title Bard Science Journal
  body
    h1 BSJ - The Bard Science Journal
    #container.col
      p Welcome, check out all this sw33t content!
      p.
        This site is dedicated to bringing you all
        the coolest stuff for Bard students. Cool. 
        
