doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bard Science Journal
    link(href='css/styles.min.css', rel='stylesheet')
  body
    .main-container
      .nav
        .navbar
          ul.nav-links
            li
              a(href='#') Home
            li
              a(href='#') Archive
            li
              a(href='#') About


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='js/app.min.js')
