.about
  .img
    img(src='images/rkc.png')
  .about-title About
  .content
    | Blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb
    | blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb