.about
  .img
    img(src='images/rkc.png')
  .about-title About
  .content
    div
      | The Bard Science Journal is a student run and produced online magazine. Our goal is to provide all students at
      | Bard a platform to explore the complicated relationship between scientific thinking and the world around them. In
      | addition, we hope to bring the experience of studying science to a broader audience. We are proud of the
      | scientific work and engagement that occurs within the Bard community and hope to provide an avenue for these
      | stories to reach others. As technological and scientific thinking are becoming more inescapable in our everyday
      | culture, politics, and health, engaging with these topics at the interdisciplinary level is increasingly valuable.
      | The publication is left intentionally fluid in order to accommodate Bard students’ interest for publication and
      | writing experience.
    br
    div Sincerely,
    div The Bard Science Journal
    ul.social-links
      li
        a(href='https://www.facebook.com/groups/bardsciencejournal/').fa.fa-facebook
      li
        a(href='mailto:bardsciencejournal@gmail.com').fa.fa-envelope
      li
        a(href='https://twitter.com/BardSciJournal').fa.fa-twitter