.archive
  .nav-container(ng-switch='vm.params.search != null')
    .searchtitle(ng-switch-when='true', ng-click='vm.clearSearch()') Showing results for: 
      span.term {{ vm.params.search }}
      i.fa.fa-close
    .navbar(ng-switch-default)
      ul
        li
          dropdown(default-option='All', default-name='Subject', items="vm.subjects", ng-model='vm.params.subject')
        li
          dropdown(default-option='All', default-name='Type', items="vm.types", ng-model='vm.params.type')
        li 
          datepicker(name='From:', default-date='Jan 2014', ng-model='vm.params.from')
        li
          datepicker(name='To:', default-date='Jan 2015', ng-model='vm.params.to')
  .post-container
    .archive-post(ng-repeat='post in vm.posts')
      .img
        img(ng-src='{{ post.photo }}')
        .subject-type
          .subject {{ post.subject }}
          .type {{ post.type }}
      .post-content
        .title {{ post.title }}
        .authors
          span by
          ul
            li(ng-repeat='author in post.authors') 
              a(href='/') {{ author }}
              span(ng-if='post.authors.length > 1 && !$last') 
                | {{ $index == post.authors.length-2 ? ' and' : ',' }}
        .description {{ post.description }}
        .date {{ post.date | date }}