.archive
  .nav-container(ng-switch='vm.searchTerm != null')
    .searchtitle(ng-switch-when='true', ng-click='vm.clearSearch()') Showing results for: 
      span.term {{ vm.searchTerm }}
      i.fa.fa-close
    .navbar(ng-switch-default)
      ul
        li
          a(href='') Subject
            i.fa.fa-caret-down
        li
          a(href='') Type
            i.fa.fa-caret-down
        li 
          form.dates
            span From:
            input.date(type='text', placeholder='mm/dd/yyyy', ng-model='vm.from')
            span To:
            input.date(type='text', placeholder='mm/dd/yyyy', ng-model='vm.to')
  .post-container
    .archive-post(ng-repeat='post in vm.posts')
      .img
        img(ng-src='{{ post.photo }}')
        .subject-type
          .subject {{ post.subject }}
          .type {{ post.type }}
      .post-content
        .title {{ post.title }}
        .authors
          span by
          ul
            li(ng-repeat='author in post.authors') 
              a(href='/') {{ author }}
              span(ng-if='post.authors.length > 1 && !$last') 
                | {{ $index == post.authors.length-2 ? ' and' : ',' }}
        .description {{ post.description }}
        .date {{ post.date | date }}