span.dropdown(ng-click='vm.toggleMenu()') {{ vm.selectedOption }}
  i.fa.fa-caret-down
ul(ng-class='{active: vm.active}').dropdown-menu
  li.dropdown-item(ng-class='{active: vm.defaultActive()}', ng-click='vm.selectDefault()') {{ vm.defaultOption }}
  li.dropdown-item(ng-class='{active: vm.activeItem(item)}', ng-repeat='item in vm.items', ng-click='vm.select(item)') {{ item.name }}