mixin post
  .img
    a(ng-href='/post/{{ post.slug }}')
      img(ng-src='{{ post.photo }}')
    .subject-type
      .subject {{ post.subject }}
  .post-content
    a(ng-href='/post/{{ post.slug }}').title {{ post.title }}
    .authors
      span by
      ul
        li(ng-repeat='author in post.authors') 
          a(href='/archive?author={{author}}').author {{ author }}
          span(ng-if='post.authors.length > 1 && !$last') 
            | {{ $index == post.authors.length-2 ? ' and' : ',' }}
    .description {{ post.description }}
    .date {{ post.date | date }}

//- Markup
.home
  .featured
    .section-title 
      span.title Featured
      span.underline
    .post-container
      .post(ng-repeat='post in vm.featured')
        +post
  //.recent
  //  .section-title
  //    span.title Recent
  //    span.underline
  //  .post-container
  //    .post(ng-repeat='post in vm.recent')
  //      +post