.postview
  .single-post
    .img
      img(ng-src='{{ vm.post.photo }}')
      .subject-type
        .subject {{ vm.post.subject }}
        .type {{ vm.post.type }}
    .post-content
      .title {{ vm.post.title }}
      .authors
        span by
        ul
          li(ng-repeat='author in vm.post.authors') 
            a(href='/archive?author={{author}}').author {{ author }}
            span(ng-if='vm.post.authors.length > 1 && !$last') 
              | {{ $index == vm.post.authors.length-2 ? ' and' : ',' }}
      .content(ng-bind-html='vm.post.content')
      .date {{ vm.post.date | date }}
