.login
  h1 login
  form 
    span Username
    input(type='text', ng-model='credentials.username')
    span Password
    input(type='password', ng-model='credentials.password')
    button(type='submit', ng-click='vm.submit(credentials)') Login
  a(href='/admin/register') Register