.new-post
  form(name='vm.postForm', novalidate)
    label(for='subject') Subject
    select(name='subject', id='subject', ng-model='vm.post.subject', required)
      option(ng-repeat='subject in vm.subjects') {{ subject.name }}
    label(for='type') Type
    select(name='type', id='type', ng-model='vm.post.type', required)
      option(ng-repeat='type in vm.types') {{ type.name }}
    div Title
    input(type='text', ng-model='vm.post.title', required)
    div Description
    textarea(ng-model='vm.post.description', required)
    div Photo
    input(type='text', ng-model='vm.post.photo', required)
    div Photosource
    input(type='text', ng-model='vm.post.photosource')
    div Authors
    tags-input(ng-model='vm.post.authors', replace-spaces-with-dashes='false', required)
    textarea(ng-model='vm.post.content', ui-tinymce='vm.tinymceOptions', required)
    div Tags
    tags-input(ng-model='vm.post.tags', replace-spaces-with-dashes='false')
    div(ng-if='vm.isEditing') Edit reason
    input(ng-if='vm.isEditing', ng-model='vm.post.reason')
    button(type='submit', ng-click='vm.postForm.$valid && vm.submitPost(vm.post)') Submit
