p new user
form 
  div Username
  input(type='text', ng-model='username')
  div Email
  input(type='text', ng-model='email')
  div Password
  input(type='password', ng-model='vm.pw1')
  div Confirm password
  input(type='password', ng-model='vm.pw2')
  button(type='submit', ng-click='vm.submit()') Submit