p reset password
p(ng-show='vm.OK') OK
form(name='resetform', novalidate) 
  span New password
  input(type='password', ng-model='pwdata.pw1', validate-password)
  span Confirm password
  input(type='password', ng-model='pwdata.pw2', validate-password, compare-to='pwdata.pw1')
  button(type='submit', ng-click='resetform.$valid && vm.submitPass(pwdata)') Submit